<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>fonts provided</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>LexendDeca-Black.ttf</string>
		<string>LexendDeca-Bold.ttf</string>
		<string>LexendDeca-ExtraBold.ttf</string>
		<string>LexendDeca-ExtraLight.ttf</string>
		<string>LexendDeca-Light.ttf</string>
		<string>LexendDeca-Medium.ttf</string>
		<string>LexendDeca-Regular.ttf</string>
		<string>LexendDeca-SemiBold.ttf</string>
		<string>LexendDeca-Thin.ttf</string>
	</array>
</dict>
</plist>
